.App {
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transaction-description {
  font-size: 12px;
  color: #7f8fa4;
}

.transaction-expense {
  color: #fe3b2c;
}

.transaction-income {
  color: #21cb87;
}

.transactions-sum {
  color: #7f8fa4;
}

.list-card {
  transition: 0.3s;
}

.list-card-body {
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

input:hover {
  outline: 1px solid;
  cursor: pointer;
}

.three-dots:after {
  font-weight: bold;
  content: '\2807';
}

.three-dots:hover {
  cursor: pointer;
}

.input-amount {
  text-align: right;
}

.list-group {
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
